.form-group {
    margin-bottom: 20px;

    label {
        font-size: 18px;
        font-weight: 600;
        color: $textcolor2;
        margin-right: 5px;
    }
    input {
        padding: 10px;
        outline: none;
        margin: auto;

        &[type="file"] {
            max-width: 165px;
        }
    }

    //styling select field
    .selBtn {
        border: none;
        outline: none;
        padding: 10px;
    }
    select {
        @extend .selBtn;
        background-color: #ecf0f1;
        line-height: 2;
        font-size: 16px;
    }

    .btn {
        background-color: #4834d4;
        color: $textcolor;
        font-size: 16px;
        width: 100%;
        @extend .selBtn;
        cursor: pointer;
        &:hover {
            background-color: #686de0;
        }
    }
}

@include media(phone) {
    .form-group {
        label {
            font-size: 16px;
            font-weight: normal;
        }
        input {
            padding: 8px;
        }
    }
}
