@mixin flex-config(
    $justify-content: false,
    $flex: false,
    $flex-direction: false,
    $align-items: false
) {
    display: flex;

    @if $justify-content != false {
        justify-content: $justify-content;
    }

    @if $flex != false {
        flex: $flex;
    }

    @if $flex-direction != false {
        flex-direction: $flex-direction;
    }

    @if $align-items != false {
        align-items: $align-items;
    }
}

@mixin rectangle($width, $height) {
    width: $width;
    height: $height;
}

// mixin for media query
@mixin media($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (min-width: 601px) and (max-width: 900px) {
            @content;
        }
    } @else if $breakpoint == desktop {
        @media (min-width: 901px) {
            @content;
        }
    }
}
