// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
// Globals
@import "form";
@import "mixins";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";
@import "./components/login.scss";
@import "./components/register.scss";
@import "./components/navbar.scss";
@import "./components/documentcard.scss";
@import "./components/documentcardcontainer.scss";
@import "./components/department.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    @include rectangle(100%, 100%);
    @include flex-config(center, 1, column, center);
}
