.document-card {
    // display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
    @include flex-config(space-between, 1, row, center);
    align-content: center;
    padding: 1rem;
    // margin: 1rem;
    border: 1px solid $textcolor2;
    border-radius: 5px;
    background-color: $textcolor;
    max-width: 200px;

    &-right {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        @include flex-config(space-between, 1, column, center);
    }
    &-left {
        font-size: 45px;
    }
}
