.document-card-container {
    @include flex-config(center, 1, column, center);
    @include rectangle(100%, 100%);
    .cards-container {
        //use grid container
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
        padding: 1rem;
        @include rectangle(100%, 100%);
    }
}
