// @media (max-width: 692px) {
//     .center-item {
//         form {
//             width: 60%;
//         }
//     }
// }

// @media (max-width: 452px) {
//     .center-item {
//         form {
//             width: 70%;
//             padding: 25px;

//             p {
//                 font-size: 14px;
//             }
//         }
//     }
// }
.login {
    width: 50%;

    .form-group {
        margin-bottom: 20px;
        input {
            width: 100%;
        }
    }
}
