.login {
    width: 60%;

    .form-group {
        margin-bottom: 20px;
        input {
            width: 100%;
        }
    }
}

@include media(phone) {
    .login {
        width: 100%;
        background-color: red;
    }
}
