.register,
.login {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    @include flex-config(center, 1, row, center);
    // box-shadow: 1px 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    form {
        width: max-content;
        .row {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: center;
            // background: red;

            @include flex-config(space-between, 1, row, center);
        }
    }
}

// media-query for row
@include media(phone) {
    .register,
    .login {
        max-width: 100%;
        form {
            .row {
                @include flex-config(center, 1, column, center);
            }
        }
    }
}
